
.panel{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.debug_card{
    margin-left: 150px;
    margin-right: 150px;
    padding: 0;
}

.debug_container{
    display: flex;
    padding: 15px;
}

.debug_btn{
    margin-right: 5px;
}

app-panel-button{
    outline: none;
}