<md-card class="register_card">
    <md-toolbar class="card_header"><h4>Autentificare</h4></md-toolbar>
    <div class="input_container">
        <md-card-content>
            <md-input-container class="register_input">
                <input type="email" mdInput placeholder="Adresa email">
            </md-input-container>
        </md-card-content>
    </div>
    <button md-raised-button class="register_btn">Trimitere email inregistrare</button><br>
    <p routerLink="/login" class="auth_redirect_info">Aveti deja cont? Click aici pentru a te autentifica!</p>
</md-card>