
.container{
    width: 220px;
    height: 220px;
    border: 1px solid lightgray;
    display: inline-flex;
    margin: 10px;
    cursor: pointer;
}

.container:hover{
    border: 1px solid #0071bc;
    background-color: ghostwhite;
}

.container:active{
    background-color: whitesmoke;
    border: 1px solid black;
}

.content{
    display: block;
}

.button_icon{
    width: 180px;
    height: 180px;
    margin-left: 20px;
    margin-top: 5px;
}

.button_desc{
    margin: 0;
    margin-left: 20px;
    text-align: center;
    font-family: serif;
    color: #0071bc;
}