<md-card class="edit_exams_card">
    <md-toolbar class="card_header"><h4>Creare sesiune examinare noua</h4></md-toolbar>
    <md-card-content class="content">
        <div class="display_flex">
            <p class="com_name">Data inceput sesiune:</p>
            <md-input-container class="date_input">
                <input type="date" mdInput placeholder="Data">
            </md-input-container>
        </div>
        <div class="display_flex">
            <p class="com_name">Data sfarsit sesiune:</p>
            <md-input-container class="date_input">
                <input type="date" mdInput placeholder="Data">
            </md-input-container>
        </div>
        <div class="display_flex">
            <p class="com_name">Numar total de comisii:</p>
            <md-input-container class="date_input">
                <input type="number" mdInput placeholder="Numar comisii">
            </md-input-container>
        </div>
        <button md-raised-button class="exam_save_btn">Creeaza sesiune noua</button>
    </md-card-content>
</md-card>