<md-card class="profile_card">
    <md-toolbar class="card_header"><h4>Profil</h4></md-toolbar>
    <md-card-content class="profile_info_container">
        <div class="display_flex">
            <p class="profile_desc">Nume:</p>
            <p class="profile_info">Popescu</p>
        </div>
        <div class="display_flex">
            <p class="profile_desc">Prenume:</p>
            <p class="profile_info">Ion</p>
        </div>
        <div class="display_flex">
            <p class="profile_desc">Adresa email:</p>
            <p class="profile_info">ion.popescu@info.uaic.ro</p>
        </div>
        <div class="display_flex">
            <p class="profile_desc">Clasa cont:</p>
            <p class="profile_info">Student</p>
        </div>
    </md-card-content>
</md-card>