<md-card class="submit_card">
    <md-toolbar class="card_header"><h4>Formular inscriere examen licenta</h4></md-toolbar>
    <md-card-content class="content">
        <p class="form_info">Pentru a va putea inscrie in seisunea de examinare a lucrarii de licenta, va rugam
        sa completati urmatorul formular.</p>
        <md-input-container class="submit_input">
            <input type="text" mdInput placeholder="Nume lucrare licenta">
        </md-input-container><br>
        <md-select  class="submit_input" placeholder="Profesor coordonator" name="profs">
            <md-option *ngFor="let prof of profs">{{prof.numeProf}} {{prof.prenumeProf}}</md-option>
        </md-select><br>
        <textarea placeholder="Descriere" cols="40" rows="5" class="submit_textarea"></textarea><br>
        <input type="file" class="submit_input"><br>

        <button md-raised-button class="submit_btn">Inscriere</button>
    </md-card-content>
</md-card>