<md-card class="login_card">
    <md-toolbar class="card_header"><h4>Autentificare</h4></md-toolbar>
    <div class="input_container">
        <md-card-content>
            <md-input-container class="login_input">
                <input type="email" mdInput placeholder="Adresa email">
            </md-input-container>
            <md-input-container class="login_input">
                <input type="password" mdInput placeholder="Parola">
            </md-input-container>
        </md-card-content>
    </div>
    <button md-raised-button class="login_btn">Confirma</button><br>
    <p routerLink="/register" class="auth_redirect_info">Nu sunteti intregistat? Click aici!</p>
</md-card>