body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.card_header{
    background-color: #3388cc;
    color: white;
}

h4{
    font-family: sans-serif;
    text-shadow: 1px 1px 5px black;
}